
<h3>Job Count by Level of Interest</h3>

<table>
  <thead>
    <% interest_levels.each do |range| %>
      <td><%= range %></td>
    <% end %>
  </thead>
  <tbody>
    <% jobs_in_level.each do |number| %>
      <td><%= number %></td>
    <% end %>
  </tbody>
</table>

<h3>Top Companies</h3>
<% top_three_companies.each do |name, level| %>
  <div class='companies'>
    <h2><%= link_to name, company_path(Company.find_by(name: name)) %> </h2>
    <h2><%= level %></h2>
  </div>
<% end %>

<h3>Job Count by City</h3>
<% jobs_by_city.each do |city, job_count| %>

  <h2><%= link_to city, "jobs?location=#{city}" %>: <%= job_count %></h2>
<% end %>
